<html>
    <head>
    <link href="style.css" rel="stylesheet"/>
    </head>
    <body>



        <%- include("./partial/menu.ejs")%>

        <div style="display: flex; justify-content: center;">
            <img src="image/check.png" height="200px" width="200px"/>
        </div>

        <h1 style="display: block;text-align: center;"> Thanks for ordering !!!!</h1>
          
       
        
    </body>
</html>