*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  font-family: 'Inter', sans-serif;
  position: relative;

}

.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
  background:#fff;
}

.logo{
  padding-left: 110px;
  align-items: center;
}

nav{
  flex: 1;
  text-align: right;
  padding-right: 60px;
}

nav ul{
  display: inline-block;
  list-style: none;
}

nav ul li{
  display: inline-block;
  margin-right: 40px;
}

nav ul li a{
  text-decoration: none; 
  color: #808080;
  font-size: 14px;
  line-height: 20px;
}

.menu-bar{
  max-width: 100%;
  color: white;
}
.container1{
  width: 100%;
  margin: 0;
}

.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2{
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img{
  max-width: 100%;
  padding: 40px 0;
}

.col-2 h1{
  color: #2E2E2E;
  font-size: 56px;
  line-height: 72px;
  margin: 25px 0;
}

.col-2 p{
  color: #808080;
  font-size: 16px;
  line-height: 32px;
  margin: 12px 0;
}

.btn{
  display: inline-block;
  background: #2ABB64;
  color: white;
  padding: 20px 40px;
  margin: 20px 0;
  border-radius: 8px;
  text-decoration: none;
  transition: backround 0.5s;
}

.btn:hover{
  background: #185631;
}

.header{
  background: #EDF8F4;
}

.header .row{
  margin-top: 64px;
}

.categories{
  margin: 70px 0;
}

.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img{
  width: 100%;
}

.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-4 img{
  width: 100%;
}

.tittle{
  text-align: center;
  margin: 0px auto 72px 0px;
  position: relative;
  line-height: 64px;
  color: #2E2E2E;
}

.tittle::after{
  content: '';
  background: #2ABB64;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.h4{
  color: #2E2E2E;
  font-weight: normal;
}

.col-4 p{
  font-size: 16px;
}

.rating{
   color: #ff523b;
   padding: 12px 0 12px;
}

.col-4:hover{
  transform: translateY(-5px);
}

.offer{
  background: #EDF8F4;
  margin-top: 80px;
  padding: 30px, 0;
}

.col-2 .offer-img{
  padding: 80px;
}

.small{
  color: #808080;
}


/*-----how-it-works----*/

.how-it-works{
  padding-top: 100px;
}

.how-it-works .col-3{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.how-it-works .col-3 h3{
  font-size: 20px;
  color: #2E2E2E;
  padding: 20px 20px;
}

.how-it-works .col-3 p{
  font-size: 16px;
  line-height: 24px;
  color: #808080;
}

.how-it-works .col-3 img{
  width: 50px;
  margin-top: 20px;
}

.how-it-works .col-3:hover{
  transform: translateY(-10px);

}




/*--------footer-------*/

.footer{
  background: #fff;
  color: #2E2E2E;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer h3{
  color: #2E2E2E;
  margin-bottom: 20px;
}

.footer p{
  color: #808080;
  line-height: 20px;
}

.footer ul{
  color: #808080;
  line-height: 20px;
}


.footer-col-1, .footer-col-2, .footer-col-3{
  min-width: none;
  margin-bottom: 20px;
}

.footer-col-1{
  flex-basis: 1;
}

.footer-col-1 img{
  width: 280px;
  margin-bottom: 20px;
}

.footer-col-2 .footer-col-3{
  flex-basis: 12%;
}

ul{
  list-style-type: none;
}

.footer hr{
  border: none;
  height: 1px;
  margin: 20px 0;
  background: #ccc;
  margin-left: 100px;
  margin-right: 100px;
}

.copyright{
  text-align: center;
  font-size: 12px;
}

.menu-icon{
  width: 28px;
  margin-left: 20px; 
  display: none;
}


/*------All Products------*/  
.row-2{
  justify-content: space-between;
  margin: 10px auto 50px;
  padding-top: 40px;
}

select{
  border: 1px solid #185631;
  padding: 5px;
}

select:focus{
  outline: none;
}

.page-btn{
    
  margin: 0 auto;
  text-align: center;
}
.page-btn a{
  display: inline-block;
  border: 1px solid #185631;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  cursor: pointer;
}

.page-btn a:hover{
  background: #2ABB64;
  color: white;
}

/*----------single product details-----------*/


.single-product{
  margin-top: 80px;
}

.single-product .col-2 img{
  padding: 0px;
}

.single-product .col-2{
  padding: 24px;
}

.single-product h3{
  font-size: 22px;
  font-weight: bold;
}

.single-product p{
  font-size: 14px;
}

.single-product select{
  display: block;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.single-product input{
  width: 56px;
  height: 56px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #185631;
}

input:focus{
  outline: none;
}

.small-img-row{
  display: flex;
  justify-content: space-between;
}

.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}

.comment-box{
  margin-top: 80px;
  left:50%;
  width: 1000px;
}

.comment-box input{
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.comment-box textarea{
  width: 100%;
  height: 150px;
  padding: 20px 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.comment-box textarea:focus{
  border: 1px solid #2ABB64;
  outline: 0px;
}

.comment-box input:focus{
  border: 1px solid #2ABB64;
  outline: 0px;
}

.comment-box button{
  border: none;
  cursor: pointer;
  align-items: flex-end;
}

/*----------account page ----------*/
.account-page{
  padding: 50px 0;
  background: #EDF8F4;

}

.form-container{
  background:#fff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-container span{
  font-weight: bold;
  padding: 0 10px;
  color: #2E2E2E;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}

.form-btn{
  display: inline-block;
}

.form-container form{
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 80px;
  transition: transform 1s;
}

form input{
  width: 100%;
  height: 50px;
  margin: 10px 0;
  padding: 0 20px;
  border-radius: 15px;
  border: 1px solid #ccc ;
}

form input:hover{
  border: 1px solid #2ABB64;
  outline: 0px;
}

form .acc-btn{
  width: 100%;
  height: 50px;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}

form .acc-btn:focus{
  outline: none;
}

#LoginForm{
  left: -300px;
}

#RegForm{
  left: 0;
}

#indicator{
  width: 100px;
  border: none;
  background: #2ABB64;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}

.acc-btn{
  display: inline-block;
  background: #2ABB64;
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  text-decoration: none;
  transition: backround 0.5s;
  text-align: center;
}

.acc-btn:hover{
  background: #185631;
}

.container1{
 
  margin: auto auto;
  width: 80%;


  display: flex;
  flex-direction: row;
  align-items: center;

  

}

.cover{
  flex:1;
}

.forms{
  flex:1;
  justify-content:center;
  
}

.input-boxes{
width: 70%;
}
.input-box{
  display:flex;
  flex-direction: row;
align-items: center;
}
.input-box input{
  margin-left: 10px;
}

.title{
  font-weight: bold;
}

.dropdown{
  position: relative;
  display: inline-block;
}

#mydropdown{
  display:none;
  z-index: 1;

}


/*table*/

.table_container{
  width: 100%;
  display: flex;
  align-items: center;
 
}

.table{

  width: 80%;
  display: table;
  margin: 20 auto;
 
 
  border-collapse: collapse;
}
.table .row{
  display: table-row;
  background-color:#eeeeee;
  text-align: center;

 
}
.table .roweven{
  display: table-row;
  background-color:#ffffff ;
  text-align: center;
  
}
.table .col{
  display: table-cell;  
  padding: 10px;
  

  
}


.table .row-head{
  display:table-row;
  font-weight: bold;
 
  background-color: #2E2E2E;
color:#FFFFFF;

text-align: center;

}

.action{
 

  
  background-color: #2ABB64;
  text-align: center;
  color:white;
  text-decoration: none;
  border-radius: 8px;
  padding: 8px;
 


}

.modal{
  background-color: #FEFEFE;
  position: fixed;
  display:none;
 
  z-index: 3 ;
  height: 40%;
  width: 40%;
  border: 1px solid grey;
 

  

  left:30%;
  top: 15%;
  justify-content: center;
  padding: 16px;
  box-shadow: #808080;
  animation: animatetop;
  animation-duration: 0.6s;
 

}
.modal-content{

  margin: auto 0;
 position: relative;
 width: 100%;
 height: 100%;
}

.modal-head{
  width: 90%;

  margin: 10 auto;
}


.btns{


  position:absolute;
  bottom: 0;
  right: 5%;
  padding:8px 0;
}

.btns a{
  padding: 8px;
  color:#2ABB64;
}

.inp-container{
  width: 90%;
  margin:5px auto;
  
  

}
.inp-container textarea{
  border-radius: 2px;
  margin: auto;
  width: 100%;
  padding: 8px;

  
}

.cross{
  position:absolute;
  top:-10;
  right: 0;
  color: #ff523b;
  font-size: 18;
}
.cross:hover{
  top:-20;
  right:-10 ;
  font-size: 24;
  cursor: context-menu;
}

#post:hover{
  font-size: large;
  cursor: pointer;
}
.cancel:hover{
  font-size: large;
  cursor: pointer;
}

.alert{

  width: 40%;
  height: 200px;
  margin: 0 auto;
  z-index: 3;
  background-color: #FFFEEE;
  border-radius: 6px;
  position: fixed;
  left: 30%;
  display:none;
  animation: animatetop;
  animation-duration: 0.5s;

}

.alert-header{

  padding: 8px 24px;

}
.alert-cross{

  position: absolute;
  padding: 8px;
  top: 0;
  right: 0;

}
.alert-body{
  padding: 24px;
}

.alert-btn{
  
  width: 100%;
  height: 60px;
  position:absolute;
  bottom:0;
  


  
 
 display: flex;
 flex-direction: row;
  justify-content: right;

  

  
  background-color:#BEBEBE;
 

}

.alert-ok{
    margin:10px;
    padding:8px 16px;
    background-color: #2ABB64;
    border-radius: 4px;
    color: white;
 
}

.alert-ok:hover,.alert-cncl:hover{
  padding: 10px 18px;
  font-size: large;
  cursor: pointer;

}

.alert-cncl{
  margin: 10px;
 
  padding: 8px 16px;
  background-color: #ff523b;
  border-radius: 4px;
  color:white;
}

.alert-cross:hover{
  font-size: large;
  cursor: pointer;
}





@keyframes animatetop {
  from{top:-200px}
  to{
    top:15%
  }
  
}


.review{
  margin: 8px;
  display: inline-block;
  height: 150px;
  width: 200px;
  padding:12px;
  background-color:#EAEAEA ;
  border-radius: 8px;
  z-index: 2;


}
.review .username{
  font-size: large;
  font-weight: bold;
}

.thanks-content{
  margin:auto;
  height: 90%;
  width: 60%;
  padding: 60px;



  display: flex;
  justify-content: space-around;
  align-items:center;

  flex-direction: column;
  border-radius: 10px;
  border: 2px solid #2ABB64;
}
/*menu for admin*/



/*----------media query for menu-----------*/

@media only screen and (max-width:800px){

  nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    background: #2ABB64;
    width: 100%;
    overflow: hidden;
  }

  nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a{
    color: white;
  }
  .menu-icon{
    display: block;
    cursor: pointer;
  }

}
  
/*----------media query for less than 600px-----------*/

@media only screen and (max-width:600px){

  .row{
    text-align: center;
  }

  .col-2, .col-3, .col-4{
   flex-basis: 100%; 
  }

  .single-product .row{
    text-align: left;
  }
  .single-product .col-2{
    padding: 20px 0;
  }
  .single-product h1{
    font-size: 26px;
    line-height: 22px;
  }
}

