<div class="sidebar">
    <div class="sidebar-brand">
        <span>
            <img src="/image/logo1.png" height="40px" width="240px"  alt="">
        </span>
    </div>

    <div class="sidebar-menu" id="menu">
        <ul>
            <li>           
                    <a href="/admin/dashboard" >
                        <span class="las la-igloo"></span>
                        <span>Dashboard</span>
                    </a>                   
            </li>

            <li>
                <a href="/admin/products" >
                    <span class="las la-box"></span>
                    <span>Products</span>
                </a>
            </li>

            <li>
                <a href="/admin/customers"  >
                    <span class="las la-users"></span>
                    <span>Customers</span>
                </a>
            </li>

            <li>
                <a href="/admin/orders"  >
                    <span class="las la-clipboard-list"></span>
                    <span>Orders</span>
                </a>
            </li>

            <li>
                <a href="/admin/reviews">
                    <span class="las la-comment"></span>
                    <span>Reviews</span>
                </a>
            </li>

            <li>
                <a href="/admin/logout">
                    <span class="las la-logout"></span>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>



<script>

    var menu=document.getElementById("menu");
    var links=menu.getElementsByTagName("a");


       
    

    
</script>